# Entornos virtuales
venv/
.venv/

# Archivos Python compilados
__pycache__/
*.py[cod]
*.so

# Archivos de entorno / variables sensibles
.env

# Archivos de subida (si usas almacenamiento local, pero no si subes a Cloudinary)
static/uploads/

# Archivos de bases de datos locales (si existieran)
*.sqlite3
*.db

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de configuración de editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
